.a{
    background-color: #f6f6f6;
    display: flex;
    overflow: hidden;
    width: 100%;
}
.btn{
    background-color: #ff6f61;
    color: white;
    width:5%;
    height: 20px;
    font-size: 12px;
    border-radius:3px ;
    margin-top: 20px;
    margin-left: 1100px ;
}
.brands{
  display: flex;
  overflow: hidden;
  width: 90%;
  margin-left: 40px;
}
.b{
    flex: 0 0 14.28%;
    box-sizing: border-box;
    height: 150px;
}
.prev,.next{
    cursor: pointer;
    margin-left: 100px;
}
h3{
    margin-left:50px ;
}