header{
    width:100%;
    height:60px;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    margin-right: -30px;
    margin: 0;
    border: none;
     border-bottom: 1px solid #cccaca; 
}
body::-webkit-scrollbar {
    display: none;}
.logo{
    margin: 10px;
    width: 110px;
    margin-left: 30px;
}
.items{
    width: auto;
}
.items a{
    color: black;
    font-size: 17px;
    font-weight: bold;
    font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 10px;
    transition: 0.3s;
    text-decoration: none;
}
.items a:hover{
    color:#ff6f61 ;
}
.button{
    width: 350px;
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 240px;
}
.button a{
    color: black;
    margin-left: 10px;
    text-decoration: none;
}
.cart{
    width: 30px;
     color: black;
     margin-left: 30px;
     margin-right: 20px;
}
.help{
    margin-left:auto;
}
offer{
    margin-left: 10px;
    margin-right: 10px;
}
body{
    border: none;
}