.semail{
    background-color:#ffffff;
    width: 20%;
    height: 30%;
    margin: 30px;
}
.password{
    background-color: #ffffff;
    margin: 30px;
    width: 20%;
    height: 40%;
}
button{
    color: white;
    background-color: #ff6f61;
    margin: 30px;
    width:200px ;
    height:50px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 40px;
}
body{
    display: block;
}